<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>

<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>

<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<hr>

<div>
    <div>
        Logged user: <span sec:authentication="name">Bob</span>
    </div>
    <div>
        Roles: <span sec:authentication="authorities">[ROLE_USER, ROLE_ADMIN]</span>
    </div>
</div>
</body>
</html>